.Countries{
    text-align: center;

}
.MuiPaper-root{
    width:70%;
    margin:auto;
    

}

.MuiToolbar-root{
    margin-top:30px;
    
}
.MuiTableFooter-root{
    margin:0;
    background-color: white;
    
}
.MuiTableBody-root{
    
    border-color: black;
    
    
    
}


  
  
  
  
   
  
  